.footer-content {
    background-color: #333; /* Change to your desired background color */
    color: #fff; /* Change to your desired text color */
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px -2px 10px rgba(0, 132, 255, 0.2); /* Optional: Add a shadow for better visual appeal */
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    width: 30px; /* Adjust the size of social media icons as needed */
    height: 30px;
    border-radius: 50%; /* Optional: Add rounded corners to the icons */
}

/* Optional: Hover effects for social media icons */
.social-media a:hover img {
    filter: brightness(1.2); /* Adjust the brightness on hover */
}

p {
    margin: 10px 0;
    font-size: 14px;
}

/* Optional: Hover effect for the copyright text */
p:hover {
    color: #ffcc00; /* Change to your desired hover color */
}
/* Footer_signup.css */

.footerr {
    text-align: center;
    margin-top: 10px; /* Adjust the margin as needed */
    color: #333; /* Change to your desired text color */
    font-size: 14px; /* Adjust the font size as needed */
    margin-top: 76%;
}
